.App {
  text-align: center;
}

.container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} 
img {
  max-width: 100%;
}

.item {
  /* flex: 1;
  flex-basis: 120px; */
  padding : 30px;
  position: relative;
  border: 1px solid green;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  opacity: 0.6;
  background-color: green;
  margin-bottom: 0;
  padding: 15px;
}

.item:hover .overlay {
  opacity: 0.6;
  bottom: 0;
}